body {
    background: #000;
    background-image: url('img/las-vegas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.deck-card {
    float: left;
    padding: 15px 0px;
    font-size: 20px;
}
.deck-card.selected {
    color: red;
    background: #fff;
}
.deck-card.clear {
    clear: both;
}
.card-symbol {
    width: 30px;
    max-width: 100%;
}
#hand .deck-card,
#croupier-hand .deck-card{
    font-size: 24px;
}
.single-card-deck{
    max-height: 180px;
}
#info-start-game {
    cursor: pointer;
}